
 p
   color:#666
   font-size:12px
   font-family: sans-serif
 span
   color:#414141
   font-size:14px
   font-family: sans-serif
 #header  
    text-align:center
    #tab
       text-align:center    
       ul
         list-style:none
         li
          display:inline 
    #con
       p
         text-align:left
         disply:block
         padding-left:500px
       #con2,#con3
         display:none        
 #container
     text-align:center
     .cc
        color:#ff7843
     #sp
        span
           font-size:14px
           color:#414141
     #sone
        float:left
        .one
           padding-left:350px                  
 #footer
     text-align:center
     span
       
       font-size:14px
       color:#414141
     div 
       padding-left:350px
       p
        text-align:left    
#dev
    align:center
    width:500px 
    color:#eaeaea

    
   