extends layout

block content

 #header
     div#img-1
       img(src="/images/1.png")
     div#tab
       ul
          li#tab1 2015&nbsp&nbsp&nbsp&nbsp&nbsp
          li#tab2 2014&nbsp&nbsp&nbsp&nbsp&nbsp
          li#tab3 2014以前
     div#con
        div#con1
           p 2015年12月积木盒子宣布新战略 推出全球化智能综合理财平台
           p 2015年7月 正式切换至民生银行 盒子树立P2P资金存管新标杆
           p 2015年4月 英国天达集团领投 盒子完成C轮融资共8400万美元
           p 2015年2月 盒子交易额突破50亿
        div#con2
           p 2015年12月积木盒子宣布新战略 推出全球化智能综合理财平台
           p 2015年12月积木盒子宣布新战略 推出全球化智能综合理财平台
           p 2015年12月积木盒子宣布新战略 推出全球化智能综合理财平台
           p 2015年12月积木盒子宣布新战略 推出全球化智能综合理财平台
        div#con3
           p 2015年12月积木盒子宣布新战略 推出全球化智能综合理财平台
           p 2015年12月积木盒子宣布新战略 推出全球化智能综合理财平台
           p 2015年12月积木盒子宣布新战略 推出全球化智能综合理财平台
           p 2015年12月积木盒子宣布新战略 推出全球化智能综合理财平台
 hr#dev
 #container
      div#sp    
        span为什么选积木盒子   
      div#sone
        div.one
          img#img-01(src="/images/01.png") 
          p.cc安全保障
          p 第三方担保、保证金
          p 风险互助金、法律援助金
          p 多重安全防线
          p 为投资者提供保障
        div.one
          img#img-01(src="/images/03.png")
          p.cc 合规透明
          p 交易资金由民生银行全程存管
          p 保障资金流转清晰、可查
          p 交易真实、合法
          p 让投资者安心
       div#scon
        div.con
          img#img-01(src="/images/02.png")
          p.cc 贴心服务
          p 积木盒子只做一件事
          p 为投融双方倾力服务
          p 积木盒子全员参与
          p 为您提供一站式服务
        div.con
          img#img-01(src="/images/04.png")
          p.cc丰富选择
          p 我们为您提供
          p 多期限、多地域、多行业
          p 多种形式的投资项目
          p 总有一款适合您
 hr#dev
 #footer     
     span LOGO的故事     
     div
        p 基于我们的使命和定位，2015年12月，积木盒子推出了新的logo与域名jimu.com
        p 新的标志传达了积木全员希望为用户带来的服务体验：简洁活跃、色彩缤纷、智能搭配。
        p 简洁活跃：从积木的基本造型出发，一切可能性都来自于用户对于我们的期许和丰富的想象力
        p 色彩缤纷：在这里只有缤纷和欢乐，理财也可以丰富多彩的。
        p 智能搭配：所有的色彩和造型都来自于合理的布局和规划。欢乐的背后，是专业和严谨的计算。 自由和想象，是基于细节完美的处理。
